
body, main {
  display: flex;
}

body {
  flex-direction: column;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 20px, black 20px, black 40px);
  background-repeat: repeat-y;
}

main {
  flex-direction: row;
  flex: auto;
  background-color: lightblue;
}

article, aside {
  overflow-y: auto;
}

article {
  flex: 2;
}

aside {
  flex: 1;
}

header, footer {
  background-color: beige;
}

footer {
  height: 20px;
}

.share {
  float: right;
}

.fb-share-button {
}

.twitter-share-button{
  vertical-align: top;
}
