
body, main {
  display: flex;
}

body {
  flex-direction: column;
  background-image: url(https://blausternschlonge.files.wordpress.com/2014/01/susquehanna-river-rockville-bridge-4.jpg);
  background-size: cover;
}

main {
  flex-direction: row;
  flex: auto;
  background-color: lightblue;
}

article, aside {
  overflow-y: auto;
}

article {
  flex: 2;
}

aside {
  flex: 1;
}

header, footer {
  background-color: beige;
}

footer {
  height: 20px;
}

header {
  height: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: relative;
}

li {
  float: left;
  vertical-align: bottom;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.share {
  float: right;
}

.twitter-share-button, .fb-share-button {
  vertical-align: top;
}

.main-title {
  font-size: 24px;
}

.about-head {
  float: right;
}

.active {
  background-color: #4CAF50;
}
