
body, main {
  display: flex;
}

body {
  flex-direction: column;
  background-image: url(https://blausternschlonge.files.wordpress.com/2014/01/susquehanna-river-rockville-bridge-4.jpg);
  background-size: cover;
}

main {
  flex-direction: row;
  flex: auto;
  background-color: lightblue;
}

article, aside {
  overflow-y: auto;
}

article {
  flex: 2;
}

aside {
  flex: 1;
}

header, footer {
  background-color: beige;
}

footer {
  height: 40px;
}

.share {
  float: right;
}

.twitter-share-button, .fb-share-button {
  vertical-align: top;
}

.main-title {
  font-size: 24px;
}

.article-pic {
	float: right;
	width: 250px;
}

.article-pic-big {
  float: none;
  width: 100%;
}

.about-pic {
  float: right;
  width: 20%;
}
